{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <title>Home page</title>
    {% endblock %}
</head>
<body>
        {% block body %}
          <div class="container">
        <h1 class="display-3">Hello, world!</h1>
        <p>This is my first Django WebSite. You can Login/SignUp here...</p>
        <a class="btn btn-primary btn-lg" role="button" href="{% url 'signup' %}">Sign Up &raquo;</a>
        <a class="btn btn-primary btn-lg" href="{% url 'login' %}" role="button">Login &raquo;</a></p>
      </div>
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>{% endfor %}</ul>{% endif %}
            </div>
        {% endblock %}
</body>
</html>
