{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <title>Home page</title>
    {% endblock %}
</head>
<body>
        {% block body %}
          <div class="container">
        <h1 class="display-3">Hello, world!</h1>
        <p>This is my first Django WebSite. You can Login/SignUp here...</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Sign Up &raquo;</a>
        <a class="btn btn-primary btn-lg" href="#" role="button">Login &raquo;</a></p>
      </div>
    </div>
        {% endblock %}
</body>
</html>
